.tabWrapper {
  margin-top: 1rem;
}

.navTabs {
  display: flex;
  width: 98vw;
  margin: 0 auto;
}

.tabContainer {
  background-color: #f3f5f7;
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 0.2rem;
  justify-content: space-between;
}

.tabButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 1.9rem;
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  color: #4b5563;
  background-color: transparent;
  transition: color 0.2s ease;
}

.tabButton:hover {
  color: #1f2937;
}


.tabButton.active {
  background-color: white;
  color: black;
  font-weight: 600;
}
