.header {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 40;
  width: 100%;
  border-bottom: 1px solid var(--border);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
}

@media (min-width: 640px) {
  .navContainer {
    height: 80px;
    padding: 0 1.5rem;
  }
}


.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo span {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary);
}

@media (min-width: 640px) {
  .logo span {
    font-size: 1.5rem;
  }
}


.navbar{
  width: 100%;
  max-width: 1120px;
  height: 75px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filtros{
  display: none;
  gap: 0.5rem;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .filtros {
    display: flex;
  }
}

.select {
  background-color: #f9fafb;
  border: 1px solid var(--primary);
  color: #374151;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  padding: 0.625rem;
}

.select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(176, 28, 28, 0.4);
  border-color: var(--primary);
}


.toggleFiltros {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--input-border);
  background: transparent;
}

.mobileToggle {
  display: none;
  border-top: 1px solid var(--input-border);
}

.mobileToggle.active {
  display: block;
}

.filtrosGrid {
  max-width: 1120px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  gap: 0.75rem;
}

@media (min-width: 640px) {
  .filtrosGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .filtrosGrid {
    display: none !important;
  }
}