
.avatar {
  width: 64px;
  height: 64px;
  border-radius: 9999px;
  object-fit: cover;
}

@media (min-width: 640px) {
  .avatar {
    width: 80px;
    height: 80px;
  }
}

.userProfile {
  margin-top: 3rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userProfileText {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}


.userProfileText h3{
  font-weight: 600;
  color: var(--main-text);
}

.userProfileText p{
  margin-top: -10px;
  font-weight: 200;
  color: var(--gray-text);
}
