.contentSection{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.PacoteEstudosContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pacoteCard{
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin: 10px;
}