.quizHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  margin-top: 40px;
}

@media (min-width: 640px) {
  .quizHeader {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.quizTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.lembreteButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary);
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-weight: 300;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

@media (min-width: 640px) {
  .lembreteButton {
    width: auto;
  }
}

.quizContent{
  display: flex;
  width: 100%;
}

.cardHeader {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.folder{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  width: 45px;
  height: 45px;
}

.quizSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quizContainer {
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.quizCard {
  border: 1px solid #b01c1c;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  color: rgb(123, 117, 117);
  text-decoration: none;
}

.quizTitle {
  font-size: 1.125rem;
  font-weight: bold;
  color: black;
}

.quizDescription, .quizCount {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}