:root {
  /* Variáveis globais de cor */
  --primary: #B01C1C;      /* Cor principal (vermelho) */
  --gray-text: #6B7280;    /* Cinza para textos secundários */
  --main-text: #282C34;    /* Cor padrão do texto */
  --border: #dad1d1;       /* Cor para bordas gerais */
  --input-border: #e4dcdc; /* Cor para bordas de inputs */
}


body {
  /* Estilização global do body */
  color: var(--main-text);      /* Cor padrão do texto */
  background-color: white;      /* Fundo branco */
  font-family: sans-serif;      /* Fonte padrão simples */
  margin: 0;                    /* Remove margens padrão */
  padding: 0;                   /* Remove espaçamentos padrão */
}

