
:root {
  --primary: #B01C1C;
  --gray-text: #6B7280;
  --main-text: #282C34;
  --border: #dad1d1;
  --input-border: #e4dcdc;
}


body {
  color: var(--main-text);
  background-color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
