.agendaHeader {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

@media (min-width: 640px) {
  .agendaHeader {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.agendaTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

@media (min-width: 640px) {
  .agendaTitle {
    font-size: 1.5rem;
  }
}

.lembreteButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary);
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-weight: 300;
  justify-content: center;
  width: 100%;
}

@media (min-width: 640px) {
  .lembreteButton {
    width: auto;
  }
}

#agenda {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  #agenda {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  #agenda {
    grid-template-columns: repeat(3, 1fr);
  }
}

